<?xml version="1.0"?>

<robot name="puntar"
    xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
    xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
    xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface">

    <!-- Included URDF Files -->
    <xacro:include filename="$(find p2os_description)/urdf/pioneer3dx/pioneer3dx.xacro" />
    <xacro:include filename="$(find p2os_description)/urdf/hokuyo_urg/hokuyo_urg.xacro" />

    <!-- PIONEER 3DX BASE -->
    <pioneer3dx />

    <!-- HOKUYO LASER ATTACHMENT -->
	<!-- We use the laser model that is used in Erratic robot urdf model -->
    <hokuyo_urg parent="top_plate">
        <origin xyz="0.17 0.0 0.0" rpy="0 0 0" />
    </hokuyo_urg>

</robot>
