<launch>
  <include file="$(find slam_robot)/launch/tf_server.launch" />
  <include file="$(find slam_robot)/launch/robot_drivers.launch" />
  <node name="slam_gmapping" pkg="gmapping" type="slam_gmapping">
    <param name="maxUrange" value="5.5" />
    <param name="maxRange" value="6" />
  </node>
  <include file="$(find slam_robot)/launch/move_base.launch" />
</launch>
